@font-face {
	font-family: 'Founders Grotesk';
	src: url('/fonts/founders/TestFoundersGroteskLight.woff2') format('woff2'),
		url('/fonts/founders/TestFoundersGroteskLight.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Founders Grotesk';
	src: url('/fonts/founders/TestFoundersGrotesk-LightItalic.woff2') format('woff2'),
		url('/fonts/founders/TestFoundersGrotesk-LightItalic.woff') format('woff');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Founders Grotesk';
	src: url('/fonts/founders/TestFoundersGroteskRegular.woff2') format('woff2'),
		url('/fonts/founders/TestFoundersGroteskRegular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Founders Grotesk';
	src: url('/fonts/founders/TestFoundersGrotesk-RegularItalic.woff2') format('woff2'),
		url('/fonts/founders/TestFoundersGrotesk-RegularItalic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Founders Grotesk';
	src: url('/fonts/founders/TestFoundersGroteskMedium.woff2') format('woff2'),
		url('/fonts/founders/TestFoundersGroteskMedium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Founders Grotesk';
	src: url('/fonts/founders/TestFoundersGrotesk-MediumItalic.woff2') format('woff2'),
		url('/fonts/founders/TestFoundersGrotesk-MediumItalic.woff') format('woff');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Founders Grotesk';
	src: url('/fonts/founders/TestFoundersGroteskSemibold.woff2') format('woff2'),
		url('/fonts/founders/TestFoundersGroteskSemibold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Founders Grotesk';
	src: url('/fonts/founders/TestFoundersGrotesk-SemiboldItalic.woff2') format('woff2'),
		url('/fonts/founders/TestFoundersGrotesk-SemiboldItalic.woff') format('woff');
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Founders Grotesk';
	src: url('/fonts/founders/TestFoundersGrotesk-Bold.woff2') format('woff2'),
		url('/fonts/founders/TestFoundersGrotesk-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Founders Grotesk';
	src: url('/fonts/founders/TestFoundersGrotesk-BoldItalic.woff2') format('woff2'),
		url('/fonts/founders/TestFoundersGrotesk-BoldItalic.woff') format('woff');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}
